# Task 1

In [ ]:
a) Create three variables: one for storing your age (integer), one for your name (string), and one
to check if you are a student (Boolean). Print the variables.

In [14]:
age=13
name='khan'
is_student='true'
print("age",age)
print("name",name)
print("Student",is_student)

age 13
name khan
Student true

b)Perform the following operations and print the results: - Add 25 to your age variable. -
Concatenate your name with the string "Smith." - Negate the Boolean variable (if True, make it
False, and vice versa).

In [15]:
age=16
name='khan'
is_student='true'
name=name+"Smith"
age=age+25
is_student = not is_student
print("age after adding 25:",age)
print("Name after adding smith",name)
print("student status",is_student)

age after adding 25: 41
Name after adding smith khanSmith
student status False

# Task 2

a) Create a string variable called "sentence" containing the sentence "Python is a powerful
programming language." Print the sentence.

In [16]:
sentence="python is powerful"
sentence

'python is powerful'

b)Count the number of characters in the "sentence" and print the result.

In [17]:
print(len(sentence))

18

c) Check if the word "Python" is present in the "sentence" and print the result (True/False).

In [20]:
is_present='python'in sentence
print("Python is present in sentence",is_present)

Python is present in sentence True

d)Replace the word "powerful" with "versatile" in the "sentence" and print the updated
sentence.

In [21]:
updated_string=sentence.replace("powerful","versatile")
updated_string

'python is versatile'

Split the "sentence" into a list of words and print the list.

In [23]:
list=sentence.split()
list

['python', 'is', 'powerful']


# Task 3

a) A rectangle has a width of 5.5 units and a height of 3.25 units. Store width and height in
variables. Create a new variable called area and write an expression to calculate the area. Print
the area in the output.

In [24]:
height=3.25
width=5.5
rectangle_area=height*width
print("Area of rectangle is:",rectangle_area)

Area of rectangle is: 17.875

b) Create a temperature variable in Celsius. Convert it to Fahrenheit using the formula: F = (C *
9/5) + 32. Store this temperature in a variable called Fahrenheit and print this variable.

In [29]:
celcius=36
Fahrenheit = (celcius*9/5) + 32
print(celcius,"is equal in fahrenheit is:",Fahrenheit)

36 is equal in fahrenheit is: 96.8

a) Create a variable called radius and give it a value of 5. Calculate the area of a circle with this radius
and store it in a variable called area. Print area at the end of your code. (Use the formula: area =
π * radius^2, where π (pi) is approximately 3.14159).

In [28]:
radius=5
area=3.14159*radius**2
print("the area of circle is:",area)

the area of circle is: 78.53975

# Task 4

a) Create a list called "fruits" containing the following fruits: "apple," "banana," "orange,"
"grape," and "kiwi." Print the list.

In [30]:
fruits=["apple","banana","orange","grape","kiwi"]
fruits

['apple', 'banana', 'orange', 'grape', 'kiwi']

b) Create another list called "vegetables" containing the following vegetables: "carrot," "lettuce,"
"tomato," "broccoli," and "spinach." Print the list.

In [31]:
vegetables=["carrot","lettuce","tomato","broccoli","spincah"]
vegetables

['carrot', 'lettuce', 'tomato', 'broccoli', 'spincah']

c) Concatenate the "fruits" list with the "vegetables" list and store the result in a new list called
"groceries". Print the "groceries" list.
d) Sort the "groceries" list in alphabetical order and print it.
e)Remove the "banana" from the "fruits" list and print the updated "fruits" list.

In [57]:
fruits=["apple","banana","orange","grape","kiwi"]
vegetables=["carrot","lettuce","tomato","broccoli","spincah"]
groceries=fruits+vegetables
print("result of two list is:",groceries)
sorted_groceries = sorted(groceries)
#sorted List
print("Sorted groceries list:", sorted_groceries)
fruits.remove("banana")
#remove banana
print("fruitlist is updated",fruits)

result of two list is: ['apple', 'banana', 'orange', 'grape', 'kiwi', 'carrot', 'lettuce', 'tomato', 'broccoli', 'spincah']
Sorted groceries list: ['apple', 'banana', 'broccoli', 'carrot', 'grape', 'kiwi', 'lettuce', 'orange', 'spincah', 'tomato']
fruitlist is updated ['apple', 'orange', 'grape', 'kiwi']

# Tuple

In [67]:
# a) Create a tuple named "colors" with the names of three colors of your choice. Print the tuple.
color=("red","yellow","green")
color

('red', 'yellow', 'green')

In [68]:
# b) Access the second element of the "colors" tuple and print it.
color[1]

'yellow'

In [72]:
months=("january","february","march")
combine_tuple=color+months
combine_tuple

('red', 'yellow', 'green', 'january', 'february', 'march')